
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul {
    width: 250px;
}


/*----------- MAIN --------------*/

main {
    font-size: 1rem;
}
main section.members{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*----------- FOOTER --------------*/
    
